{
  "extends": [
    "airbnb",
    "preact",
    "prettier",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-underscore-dangle":0,
    "no-unused-vars": 1,
    "react/jsx-uses-react": 1,
    "react/display-name": "off",
    "react/jsx-fragments": [
      "off",
      "element"
    ],
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "import/no-cycle": 0,
    "import/no-named-as-default": 0,
    "no-param-reassign": 0
  },
  "plugins": [
    "react", "prettier"
  ]
}