* {
    /* @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap"); */
    font-family: "Montserrat", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    box-sizing: border-box;
    --img-width: 25vw;
    --img-height: 25vw;
    --form-width: 25vw;
    --back-color: rgba(224, 224, 224, 0.315);
    --back-color-light: rgba(224, 224, 224, 0.1);
    --form-color: rgba(224, 224, 224, 0.6);
    --background-color: white;
    --button-color: rgb(3, 118, 250);
    letter-spacing: -0.2px;
    --grey: rgb(143, 144, 148);
    --white: #FFF;
    --red: rgb(255, 15, 15);
    --light-grey: #BABECC;
    --input-text-color: rgb(51, 51, 51);
}

::-webkit-scrollbar {
    /*hide -y scrollbar*/
    display: none;
}

html {
    font-size: 1rem;
    background-color: #EBECF0;
}

.askPhoneTurn {
    display: none;
}

@media (max-width: 768px) {
    html {
        font-size: 0.6em;
    }
}

@media (min-width: 769px) and (max-width: 1366px) {
    html {}
}

@media (min-width: 3840px) {
    html {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    html {
        visibility: hidden;
    }
    .askPhoneTurn {
        display: block;
        visibility: visible;
        font-size: 4rem !important;
        text-align: center;
    }
}

.table {
    background-color: var(--back-color);
    text-align: center;
    font-size: 1.1rem;
}

.tableHeader {
    white-space: pre-line !important;
    word-wrap: break-word;
}

#tablePhotoButton {
    align-items: center;
}

#tablePhoto {
    height: 5em;
    max-width: auto;
}

#tablePhoto:hover {
    position: absolute;
    height: 20em;
    width: auto;
    cursor: pointer;
}

.table input {
    background-color: var(--back-color) !important;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
}

.menu-container {
    display: flex;
    margin: 0 0 0.3em 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu-container>a {
    flex: 1;
    /* text-shadow: 2px 1px 0.2em white; */
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    text-align: center;
    color: var(--light-grey);
    border-bottom-left-radius: 25px;
    ;
    border-bottom-right-radius: 25px;
    text-shadow: 1px 1px 0 var(--white);
}

.menu-container .is-active {
    border: none;
    background-color: var(--back-color-light);
    color: var(--grey);
    text-shadow: 1px 1px 0 var(--white);
    outline: none;
    transition: color 0.2s linear;
    box-shadow: -5px -5px 20px var(--white), 5px 5px 20px var(--light-grey);
}

.userPage {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-content: flex-start;
}

.userPage-container {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
}

.userPage .img-container {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 90%;
    height: 90%;
    display: flex;
    background-color: inherit;
    align-items: center;
}

.userPage .img-container>img {
    padding-top: 1rem;
    flex: 1;
    max-width: 95%;
    max-height: 95%;
    object-fit: scale-down;
}

.userPage label, .table, .calendar, .mainPage textarea {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-1em);
    }
    to {
        opacity: 1;
    }
}

*>label {
    display: block;
    font-size: 1.2em;
    width: 80%;
    text-align: center;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--white);
    margin-bottom: 0.5rem;
}

.tableHeader {
    font-size: 1rem;
    color: var(--grey);
    text-transform: uppercase;

}


.userPage {
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    border-radius: 25px;
    padding: 1rem;
}



*>input, * textarea {
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    color: var(--input-text-color);
    border: none;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    width: 80%;
    font-size: 1.2rem;
    background-color: #EBECF0;
    appearance: none;
    -webkit-appearance: none;
    text-shadow: 0 0 0.1em rgb(255, 255, 255);
}

*>input:hover {
    background-color: rgba(224, 224, 224, 0.4);
    transition: background-color 0.5s linear;
}

*>input::placeholder {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    font-weight: initial;
}

.absolute_position_button button {
    position: absolute;
}

.userPage button {
    width: 30vw;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.3rem;
    border-radius: 25px;
    padding: 0.5rem;
    text-shadow: 1px 1px 0 var(--white);
    box-shadow: -5px -5px 20px var(--white), 5px 5px 20px var(--light-grey);
}

.userPage-container form button, .FieldsAction button, .newProfileField button, .notesMain button, .notesField button {
    display: none;
}

.userPage-container>*:hover>form>button, .userPage-container>*:hover>button, .FieldsAction>*:hover button, .newProfileField:hover button, .notesMain:hover button, .notesField:hover button {
    display: block;
}

.notesField textarea {
    /* background-color: var(--form-color); */
    width: 80%;
    height: 15vh;
    font-size: inherit;

/*     
    padding: 0.5em;
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    color: var(--input-text-color);
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: #EBECF0;
    appearance: none;
    -webkit-appearance: none;
    text-shadow: 0 0 0.1em rgb(255, 255, 255); */
}

.notesField {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
}

.tableHistory {
    margin-top:3rem;
    grid-column: 1/4;
    grid-row: 3/4;
    width: 95%;
    text-shadow: 1px 1px 0 var(--white);

}

.FieldsAction {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
}

.calendar button {
    border-radius: 25px;
    /* box-shadow: -5px -5px 20px var(--white); */
}

.mainPage {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    align-content: flex-start;
}

.tableMain {
    margin-top:1rem;
    grid-column: 1/3;
    grid-row: 4/5;
}

.calendarMain {
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
}

.notesMain {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
}

.notesMain>textarea {
    width: 100%;
    height: 70%;
    /* background-color: var(--back-color); */
    /* font-size: 1.3em; */
/* 
    padding: 0.5em;
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    color: var(--input-text-color);
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: #EBECF0;
    appearance: none;
    -webkit-appearance: none;
    text-shadow: 0 0 0.1em rgb(255, 255, 255); */
}

.newProfileField {
    margin: 1rem;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 50%;
}

.newCodeField {
    margin: 1rem;
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.spinner {
    margin: 100px auto;
    width: 80px;
    height: 70px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    /* background-color: rgba(204, 4, 4, 0.2); */
    background-color: #005ccc;
    height: 100%;
    width: 10px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

#DeleteButton {
    color: var(--red);
    width: auto;
}